@model List<Pspcl.Services.Models.AvailableStockModel>
@{
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}

<div class="main-content">
    <div class="page-content">

            <div id="stock-in-report"><h3>Available Stock Report</h3> <button type="button" class="btn btn-dark blackButton px-5 mb-2 mb-md-2" id="exportButton">Export to Excel</button></div>
        <table id="availableStockTable" class="table table-responsive custom-table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">GRN No.</th>
                        <th scope="col">GRN Date</th>
                        <th scope="col">Material Group</th>
                        <th scope="col">Material Type</th>
                        <th scope="col">Material Code</th>
                        <th scope="col">Make</th>
                        <th scope="col">Sr.No From</th>
                        <th scope="col">Sr.No To</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Rate/Unit</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                @if (Model != null)
                {
                    @foreach (var AvailableStockModel in Model)
                    {
                        <tr>
                            <td>@AvailableStockModel.grnNo</td>
                            <td>@AvailableStockModel.grnDate.ToString().Split(' ')[0]</td>
                            <td>@AvailableStockModel.MaterialGroup</td>
                            <td>@AvailableStockModel.MaterialName</td>
                            <td>@AvailableStockModel.MaterialCode</td>
                            <td>@AvailableStockModel.Make</td>
                            <td>@AvailableStockModel.SrNoFrom</td>
                            <td>@AvailableStockModel.SrNoTo</td>
                            <td>@AvailableStockModel.AvailableQuantity</td>
                            <td>@AvailableStockModel.Rate</td>
                        </tr>
                    }
                }
                
                </tbody>

            </table>
        <div id="paginate"></div>

    </div>
</div>