@model List<Pspcl.Services.Models.StockOutModel>
@{
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}
<div class="main-content">
    <div class="page-content">

        <div id="stock-in-report"><h3>Stock-Out Report</h3> <button type="button" class="btn btn-dark blackButton px-5 mb-2 mb-md-2" id="exportButton">Export to Excel</button></div>

        <table class="table table-responsive custom-table">
            <thead class="thead-dark">
                <tr>
                <tr>
                    <th>Txn Out Id</th>
                    <th>IssueDate</th>
                    <th>Sr. No.</th>
                    <th>SrNo Date</th>
                    <th>Division</th>
                    <th>Location code</th>
                    <th>SubDiv</th>
                    <th>JE Name</th>
                    <th>Material Type</th>
                    <th>Material Code</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Make</th>




                </tr>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.TransactionId</td>
                <td>@item.CurrentDate</td>
                <td>@item.SerialNumber</td>
                <td>@item.SrNoDate</td>
                <td>@item.DivisionName</td>
                <td>@item.LocationID</td>
                <td>@item.SubDivisionName</td>
                <td>@item.JuniorEngineerName</td>
                <td>@item.MaterialName</td>
                <td>@item.MaterialCode</td>
                <td>@item.Quantity</td>
                <td>@item.Rate</td>
                <td>@item.Make</td>



                
            </tr>
        }
    </tbody>
</table>

    </div>



</div>