@model List<Pspcl.Services.Models.StockOutModel>
@{
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}

<div class="main-content">
    <div class="page-content">

        <h3>Stock-In Report</h3>

        <table class="table table-responsive custom-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Txn Out ID</th>
                    <th scope="col">Sr.No.</th>
                    <th scope="col">Sr.No. Date</th>
                    <th scope="col">Division Name</th>
                    <th scope="col">Location Code</th>
                    <th scope="col">Sub-Division Name</th>
                    <th scope="col">JE Name</th>
                    <th scope="col">Material Type</th>
                    <th scope="col">Material Code</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Make</th>

                </tr>
            </thead>

            <tbody class="table-group-divider">
                @foreach (var stockOutModel in Model)
                {
                    <tr>
                        <td>@stockOutModel.TxnOutID</td>
                        <td>@stockOutModel.SrNo</td>
                        <td>@stockOutModel.SrNoDate.ToString().Split(' ')[0]</td>
                        <td>@stockOutModel.DivName.ToString().Split(' ')[0]</td>
                        <td>@stockOutModel.LocationCode</td>
                        <td>@stockOutModel.SubDivName</td>
                        <td>@stockOutModel.JEname</td>
                        <td>@stockOutModel.MaterialType</td>
                        <td>@stockOutModel.MaterialCode</td>
                        <td>@stockOutModel.Quantity</td>
                        <td>@stockOutModel.Rate</td>
                        <td>@stockOutModel.Make</td>


                    </tr>
                }
            </tbody>

        </table>
        <button type="button" class="btn btn-dark blackButton px-5 mt-2 mt-md-2" id="exportButton">Export to Excel</button>

    </div>

</div>
