@{
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}
@model Pspcl.Web.Models.StockViewModel
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-md-12 ">
                    <!-- <div class="hld-left m-0 mt-md-3"> -->
                    <div class="m-0 mt-md-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <h1 class="heading text-uppercase">Electricity Meter Management</h1>

                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <h2 class="h2-heading">Add Stock</h2>
                                    </div>
                                    <div class="col-md-6 text-right">
                                    </div>
                                </div>


                                <form class="mt-4">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="">Material code</label>
                                            <input type="text" class="form-control" id="matCode"
                                                   placeholder="Enter Material code">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="materialGroupId">Material Group</label>
                                            <select id="materialGroupId" name="materialGroupId" class="form-control">
                                                <option selected disabled>--Select Material Group--</option>
                                                @foreach (var data in Model.AvailableMaterialGroups)
                                                {
                                                    <option value="@data.Value">@data.Text</option>

                                                }
                                            </select>

                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="date">Select GRN Date</label>
                                            <input type="date" class="form-control" id="date" placeholder="Select GRN Date">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="materialTypeId">Material Type</label>
                                            <select id="materialTypeId" name="materialTypeId" class="form-control">
                                                <option selected disabled>--Select Material Type--</option>
                                                @foreach (var data in Model.AvailableMaterialTypes)
                                                {
                                                    <option value="@data.Value">@data.Text</option>

                                                }
                                            </select>
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="date">GRN No</label>
                                            <input type="text" class="form-control" id="grnNumber"
                                                   placeholder="Enter GRN No">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Rating</label>
                                            <select id="ratingId" name="ratingId" class="form-control">
                                                <option selected disabled>--Select Rating--</option>
                                                @foreach (var data in Model.AvailableRatings)
                                                {
                                                    <option value="@data.Value">@data.Text</option>

                                                }
                                            </select>
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Test Report Reference</label>
                                            <input type="text" class="form-control" id="reportRef"
                                                   placeholder="Enter Test Report Reference">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Make</label>
                                            <input type="text" class="form-control" id="lookupTable"
                                                   placeholder="Make">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Invoice Date</label>
                                            <input type="date" class="form-control" id="invoiceDate"
                                                   placeholder="Select GRN Date">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Rate</label>
                                            <input type="number" class="form-control" id="rate"
                                                   placeholder="Enter Rate">
                                            <small id="emailHelp" class="form-text text-muted">Unit Num Value, Max 1000000</small>
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Invoice No.</label>
                                            <input type="number" class="form-control" id="invoiceNo"
                                                   placeholder="Enter Rate">
                                            <small id="emailHelp" class="form-text text-muted">Add invoice also.</small>
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="">Prefix</label>
                                            <input type="number" class="form-control" id="prefix"
                                                   placeholder="Enter Rate">
                                            <div class="invalid-feedback">
                                                Please provide a valid state.
                                            </div>
                                        </div>



                                        <div class="form-group offset-md-5">
                                            <label for="">&nbsp;</label>
                                            <button id="addMaterialButton" type="submit" class="btn btn-dark blackButton px-5 mt-2 mt-md-4">Add Material</button>
                                        </div>
                                    </div>
                                </form>

                                <div id="materialTable" class="mt-3 mb-5 border-black-top pt-4" style="display:none">
                                    <table class="table table-responsive custom-table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Sr. No From</th>
                                                <th scope="col">Sr. No To</th>
                                                <th scope="col">QTY</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTableBody">
                                            <tr>
                                                <td><input type="text" class="from-input" placeholder="From"></td>
                                                <td><input type="text" class="to-input" placeholder="To"></td>
                                                <td><input type="text" class="qty-input" placeholder="Quantity" readonly></td>
                                                <td><button type="button" class="btn btn-primary add-row"><i class="fas fa-plus"></i></button></td>
                                                <td><button type="button" class="btn btn-danger remove-row"><i class="fas fa-minus"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="text-center">
                                        <a class="btn btn-dark blackButton px-4 mt-3" asp-controller="Preview" asp-action="Preview">Preview</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">

    $(document).on('input', '.from-input, .to-input', calculateQty);

    $(document).on('click', '.add-row', addRow);

    $(document).on('click', '.remove-row', removeRow);

    $("#addMaterialButton").click(function (event) {
        event.preventDefault();
        $("#materialTable").show();
    });

    $('tbody tr:first-child .remove-row').hide();
    function calculateQty() {
        var fromVal = $(this).closest('tr').find('.from-input').val();
        var toVal = $(this).closest('tr').find('.to-input').val();

        if (fromVal && toVal) {
            var qtyVal = toVal - fromVal;
            $(this).closest('tr').find('.qty-input').val(qtyVal);
        }
        else {
            $(this).closest('tr').find('.qty-input').val('');
        }
    }

    function addRow() {
        var rowCount = $("#myTableBody tr").length;
        var newRow = $('<tr>');
        var cols = '';

        cols += '<td><input type="text" class="from-input" placeholder="From"></td>';
        cols += '<td><input type="text" class="to-input" placeholder="To"></td>';
        cols += '<td><input type="text" class="qty-input" placeholder="Quantity" readonly></td>';

        if (rowCount > 1) {
            cols += '<td><button type="button" class="btn btn-primary add-row"><i class="fas fa-plus"></i></button></td>';
            cols += '<td><button type="button" class="btn btn-danger remove-row"><i class="fas fa-minus"></i></button></td>';
        }
        else {
            cols += '<td><button type="button" class="btn btn-primary add-row"><i class="fas fa-plus"></i></button></td>';
            cols += '<td><button style="display:none" type="button" class="btn btn-danger remove-row"><i class="fas fa-minus"></i></button></td>';
        }

        newRow.append(cols);
        $('tbody').append(newRow);

        if (rowCount > 0) {
            $("#myTableBody tr:last-child .remove-row").show();
        }
    }

    function removeRow() {
        var rowCount = $("#myTableBody tr").length;
        if (rowCount > 1) {
            $(this).closest('tr').remove();
        }

    }


    $(function () {
        $("#materialGroupId").on("change", function () {
            var materialGroupId = $(this).val();
            $("#materialTypeId").empty();
            if (materialGroupId) {
                $.ajax({
                    url: "/AddStock/getMaterialTypes",
                    type: "GET",
                    data: { materialGroupId: materialGroupId },
                    success: function (result) {
                        $("#materialTypeId").append($('<option>').text("--Select material Type--").val(""));
                        $.each(result, function (i, response) {
                            $("#materialTypeId").append($('<option>').text(response.text).val(response.value));
                        });
                    }
                });
            }
            else {
                $("#materialTypeId").append($('<option>').text("--Select material Type--").val(""));
            }
        });
    });

    $(function () {
        $("#materialTypeId").on("change", function () {
            var materialTypeId = $(this).val();
            $("#ratingId").empty();
            if (materialTypeId) {
                $.ajax({
                    url: "/AddStock/GetRating",
                    type: "GET",
                    data: { materialTypeId: materialTypeId },
                    success: function (result) {
                        $("#ratingId").append($('<option>').text("--Select Rating--").val(""));
                        $.each(result, function (i, response) {
                            $("#ratingId").append($('<option>').text(response.text).val(response.Value));
                        });
                    }
                });
            }
            else {
                $("#ratingId").append($('<option>').text("--Select Rating--").val(""));
            }
        });
    });
</script>