<div class="vertical-menu">

    <div data-simplebar class="height100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">

                <li>
                    <a href="@Url.Action("AddStock", "StockView")">
                        <i class="fas fa-plus-circle"></i>
                        <span>Add Stock</span>
                    </a>
                </li>

                <li hidden>
                    <a href="@Url.Action("IssueStockView", "IssueStock")">
                        <i class="fab fa-stack-exchange"></i>
                        <span>Issue Stock</span>
                    </a>
                </li>               

                <li hidden>
                    <a href="@Url.Action("AddTipView", "AddTip")">
                        <i class="fas fa-folder-plus"></i>
                        <span>Add TIP</span>
                    </a>
                </li>

                <li hidden>
                    <a href="@Url.Action("IssueTipView", "IssueTip")">
                        <i class="fas fa-folder"></i>
                        <span>Issue TIP</span>
                    </a>
                </li>

                <li >
                    <a href="@Url.Action("StockInReport", "Report")">
                        <i class="far fa-chart-bar"></i>
                        <span>Reports</span>
                    </a>
                </li>
                <li hidden>
                    <a href="@Url.Action("AvailableStock", "Report")">
                        <i class="far fa-chart-bar"></i>
                        <span>AvailableStock Reports</span>
                    </a>
                </li>
                <li hidden>
                    <a href="@Url.Action("StockOutReport", "Report")">
                        <i class="far fa-chart-bar"></i>
                        <span>Stock Out Reports</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>